.text-size-14px{
    font-size: 14px;
}

.text-size-18px{
    font-size: 18px;
}

.text-size-22px{
    font-size: 22px;
}

.text-size-35px{
    font-size: 35px;
}
.text-size-20px{
    font-size: 40px;
}

.color-white{
    color: white;
}

.color-green{
    color: green;
}

.font-600{
    font-weight: 600;
}

.cursor{
    cursor: pointer;
}

.text-align{
    text-align: center;
}