<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis Result</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='diagnosis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typhgraph.css') }}">
</head>
<body>
    <div class="img-div">
        <img src="../static/gerb.webp" alt="">
    </div>
    <h1 class="text-size-18px">AZERBAIJAN REPUBLIC</h1>
    <h1 class="text-size-18px">ADMINISTRATIVE ASSOCIATION OF MEDICAL TERRITORIAL UNITS</h1>
    <h1 class="text-size-18px">POSSİBLE DİAGNOSTİC OUTCOME STATİSTİCS</h1>
    <br><br><br><br>
    <p class="font-600 text-size-22px text-align">ONLINE REFERENCE</p>

    <br><br><br>
    <p class="font-poppins text-size-18px font-600">Diagnosis: {{ diagnosis }}</p>
    <p class="font-poppins text-size-18px font-600">Probability of Covid-19 Case: {{ probability }}</p>

    <canvas id="probabilityChart" width="600" height="200"></canvas>

    <br><br>

    <button class="btn cursor" onclick="showFeedback()"><span class="font-poppins">Provide Feedback</span></button>

    <br><br>
    <div id="feedback" style="display: none;">
        <h2>Feedback and Recommendations</h2>
        {% if diagnosis == "Covid-19" %}
            <p class="font-poppins font-600">Feedback related Potential Covid-19 Case!</p>
            <p class="font-poppins">It is advised to consult with a healthcare professional and follow safety guidelines.</p>
        {% elif diagnosis == "Influenza" %}
            <p class="font-poppins font-600">Feedback related Potential Influenza Case!</p>
            <p class="font-poppins">Remember to rest, stay hydrated, and consider over-the-counter medications for symptom relief. However, these general suggestions are not a substitute for professional medical advice, diagnosis, or treatment.
                 If you experience severe or persistent symptoms, it is crucial to consult with a healthcare professional.</p>
        {% endif %}
    </div>

    <script>
        var diagnosis = "{{ diagnosis }}";
        var probability = parseFloat('{{ probability }}');

        var ctx = document.getElementById('probabilityChart').getContext('2d');
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Covid-19 Case', 'Influenza Case'],
                datasets: [{
                    label: 'Probability',
                    data: [probability, 1 - probability],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 1
                    }
                }
            }
        });

        function showFeedback() {
            var feedbackDiv = document.getElementById('feedback');
            feedbackDiv.style.display = 'block';
        }
    </script>
</body>
</html>
