<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Diagnosis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    
    <div class="container">
        <span class="text-size-18px color-white font-poppins cursor">Click, explore, discover: Check out our latest research.</span>
        <span></span>
    </div>

    <header>
        <span class="font-poppins text-size-20px color-white" id="animated-text">Symptom Tracker: Pinpointing COVID-19 or Influenza</span>
        <br><br><br><br>
        <span class="text-size-20px font-poppins font-600">We Make Quality <span class="color-green">HealthCare</span></span>
    </header>

    <main class="main-1">
        <video id="video-background" autoplay muted loop>
            <source src="../static/videoo.mp4" type="video/mp4">
        </video>
    </main>
    <br><br>

    <main class="main-2">
        <img class="img" src="../static/main-2.jpg" alt="">
        <form action="/diagnose" method="post">
            {% for symptom in symptoms %}
            <label class="font-poppins" for="{{ symptom }}">{{ symptom }}:</label>
            <input class="checkboxx" type="checkbox" name="symptoms" value="{{ symptom }}">
            <br><br>
            {% endfor %}
    
            <br><br>
    
            <div class="div-2">
                <input class="btn" type="submit" value="Diagnose">
            </div>
        </form>
    </main>
</body>
</html>