<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Diagnosis</title>
    <style>

    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Healthcare Diagnosis</h1>
    <form action="/diagnose" method="post">
        {% for symptom in symptoms %}
        <label for="{{ symptom }}">{{ symptom }}:</label>
        <input type="checkbox" name="symptoms" value="{{ symptom }}">
        <br>
        {% endfor %}

        <br><br>

        <div class="div-2">
            <input type="submit" value="Diagnose">
        </div>
    </form>
</body>
</html>
