<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='typhgraph.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='research.css') }}">
</head>
<body>
    <span class="font-poppins text-size-35px">Similarities and Differences between Flu and COVID-19​</span><br><br>
    <iframe src="https://www.cdc.gov/flu/symptoms/flu-vs-covid19.htm#:~:text=Influenza%20(flu)%20and%20COVID%2D19%20are%20both%20contagious%20respiratory,flu%20virus%20(influenza%20viruses)." width="90%" height="400" frameborder="0" allowfullscreen></iframe>
<br><br><br><br><br>
    <span class="font-poppins text-size-35px">New coronavirus vs. flu​</span><br><br>
    <iframe src="https://www.medicalnewstoday.com/articles/coronavirus-vs-flu" width="90%" height="400" frameborder="0" allowfullscreen></iframe>
<br><br><br><br><br>
    <span class="font-poppins text-size-35px">What we know about influenza and COVID-19​</span><br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/x12znDD4ciY?si=4CU6iUQrfQYFJhKy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br><br><br><br><br>
    <span class="font-poppins text-size-35px">COVID-19 vs Influenza (Flu)​</span><br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vIqyanFYcw0?si=trmh88O_lVVdlFlg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <br><br><br><br><br>
</body>
</html>